asyncio
aiofiles>=23.2.1,<25
aiosqlite>=0.22.1
datetime
ddgs>=9.14.4,<10
emoji
jianer-bot>=0.92.5
openai>=1.35.12
requests
aiohttp
psutil
pillow
pydantic>=2,<3
pyecharts>=2,<3
numpy>=2,<3
sqlmodel>=0.0.38
httpx-ws>=0.7.2,<1
httpx
PyJWT[crypto]>=2.10,<3
python-dotenv>=1.0,<2
flask
flask-sock
websocket-client
paramiko>=3.5.1
edge_tts
pyGithub
nvidia-ml-py
flask-cors
flask-socketio
playwright>=1.58,<1.59
pymysql
cryptography
aiohttp
pycryptodome
lark-oapi
